body{
	letter-spacing: 0.2em;
	font-size: 0.8em;
	background-color: #eeedec;
}

.icon{
	position: relative;
	top: -50px;
	border-radius: 50%;
	width: 100px;
	margin-bottom: -100px;
}


.details {
	background-color: #eeedec;
	padding-top: 50px;
}
form input {
	background-color: #eeedec;
}

h1 {
	background-color: #eeedec;
}
.night {
	background-color: black !important;
	color: white !important;
}
.container{
	max-width: 500px;
}
.dark {
	background-color: rgb(65, 65, 65) !important ;
	color: white !important ;
}

